extends typescript

snippet preact
import {h, Component} from 'preact';
endsnippet

snippet compo
interface $1Props {}

interface $1State {}

export default class $1 extends Component<$1Props, $1State> {
	constructor(props) {
		super(props)
			this.state = {};
	}
	render () {
		return $2;
	}
}
endsnippet
